<!-- header -->

<header>
  <div class="jumbotron">
          <div class="w-100">
              <ul class="nav  justify-content-center">
                <li class="nav-item">
                    <a href="#" class="navbar-brand ">
                        <img src="../assets/images/logo.png" width="90" height="90" alt="logo">
                    </a>
                </li>
                <li class="nav-item"><p class="display-3 text-info">STOCK CHARTS</p></li>
                
              </ul>
          </div>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse ">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a href="index.html" class="nav-link active">HOME</a></li>
                  <li class="nav-item"><a href="contact.html" class="nav-link">CONTACT US</a></li>
                  <li class="nav-item"><a href="about.html" class="nav-link">ABOUT US</a></li>
              </ul>
              <a href="#" class="navbar-brand btn btn-outline-success text-success">SIGN UP</a>
          </div>
      </nav>
  </div>


</header>

<!-- header -->

<!-- body -->

<main class="main">
  
<app-sign-up></app-sign-up>

</main>

<!-- body -->

<!-- Footer -->
<footer class="page-footer font-small blue bg-dark text-light">


  <div class="footer-copyright text-center py-3">&copy; 2020 Copyright:
      <a href="#">Stock Charts</a>
  </div>

</footer>
<!-- Footer -->